<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dandelion.system.mapper.RoleMapper">
    <insert id="insertRoleMenuById">
        insert into sys_role_menu(role_id, menu_id) VALUES(#{roleId},#{menuId})
    </insert>
    <update id="updateRoleByUserId">
        update sys_user_role set role_id =#{roleId} where user_id=#{userId}
    </update>
    <update id="updateUserRole">
        update sys_user_role set role_id =#{newRoleId} where role_id=#{oldRoleId}
    </update>
    <delete id="delRoleUserById">
        delete from sys_user_role where role_id = #{roleId}
    </delete>
    <delete id="delRoleMenuById">
        delete from sys_role_menu where role_id = #{roleId}
    </delete>
    <delete id="delRoleMenuByRoleIdAndMenuId">
        delete from sys_role_menu where role_id = #{roleId} and menu_id = #{menuId}
    </delete>
    <select id="selectRoleUserIdByRoleId" resultType="java.lang.Long">
        select user_id
        from sys_user_role
        <where>
            role_id = #{roleId}
        </where>
    </select>
    <select id="selectHavePermissionByRoleId" resultType="com.dandelion.system.dao.Menu">
        select sm.*
        from sys_role sr,sys_role_menu srm,sys_menu sm
        <where>
            sr.id=srm.role_id and sm.id=srm.menu_id AND role_id = #{roleId}
        </where>
    </select>
    <select id="selectNonePermissionByRoleId" resultType="com.dandelion.system.dao.Menu">
        select *
        from sys_menu
        <where>
            parent_id &lt;&gt; 0
            and id NOT IN(
                            select menu_id
                            from sys_role sr,sys_role_menu srm,sys_menu sm
                            <where>
                                sr.id=srm.role_id
                                and sm.id=srm.menu_id
                                and role_id = #{roleId}
                            </where>
                        )
        </where>
    </select>
</mapper>