<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dandelion.system.mapper.SectionMapper">

    <insert id="insertSectionTag">
        insert into section_tag(section_id, tag_id) VALUES (#{sectionId},#{tagId})
    </insert>
    <insert id="insertSectionUser">
        insert into user_section(section_id, user_id) VALUES (#{sectionId},#{userId})
    </insert>
    <delete id="delSectionUser">
        delete from user_section where user_id=#{userId} and section_id=#{sectionId}
    </delete>
    <delete id="delSectionTag">
        delete from section_tag where tag_id=#{tagId} and section_id=#{sectionId}
    </delete>
    <select id="selectHaveTagBySectionId" resultType="com.dandelion.system.dao.Tag">
        SELECT t.*
        FROM section s,section_tag st,tag t
        <where>
            s.id=st.section_id and t.id=st.tag_id and section_id = #{sectionId}
        </where>
    </select>
    <select id="selectNoneTagBySectionId" resultType="com.dandelion.system.dao.Tag">
        SELECT *
        FROM tag
        <where>
            id not in (
                SELECT t.id
                FROM section s,section_tag st,tag t
                <where>
                    s.id=st.section_id and t.id=st.tag_id and section_id = #{sectionId}
                </where>
            )
        </where>
    </select>
    <select id="getSectionVoById" resultType="com.dandelion.system.vo.SectionMasterVo">
        select id,section_name
        from section
        <where>
            id = #{id}
        </where>
    </select>
    <select id="selectTopSection" resultType="com.dandelion.system.vo.SectionMasterVo">
        SELECT s.id,section_name
        FROM section s
        LEFT JOIN posts p
        ON s.id = p.section_id
        WHERE s.status &lt;&gt; 1 and parent_id &lt;&gt; 0
        GROUP BY id
        ORDER BY sum(see_num) DESC
        LIMIT 5
    </select>
    <select id="getSectionModerator" resultType="com.dandelion.system.vo.UserVo">
        SELECT su.id,su.user_name,su.avatar
        FROM section s,user_section us,sys_user su
        WHERE s.id = us.section_id and us.user_id = su.id and s.id = #{sectionId}
    </select>
    <select id="selectSection" resultType="com.dandelion.system.vo.SectionMasterVo">
        select id,section_name,title,icon,status
        from section
        ${ew.customSqlSegment}
    </select>
    <select id="selectSectionById" resultType="com.dandelion.system.vo.SectionVo">
        select id,section_name,title,notice,icon
        from section
        <where>
            id = #{sectionId}
        </where>
    </select>
    <select id="getSectionUser" resultType="java.lang.String">
        SELECT user_id
        FROM user_section
        WHERE user_id = #{userId} and section_id = #{sectionId}
    </select>
</mapper>