<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dandelion.system.mapper.UserMapper">
    <update id="setRole">
        insert into sys_user_role(user_id, role_id) values (#{userId},#{roleId})
    </update>


    <select id="getPassword" resultType="java.lang.String">
        select password
        from sys_user
        <where>
            id=#{id}
        </where>
    </select>
    <select id="getRoleKey" resultType="java.lang.String">
        select
            role_key
        from
            sys_user su,
            sys_user_role sur,
            sys_role sr
        <where>
            su.id = sur.user_id
            AND sur.role_id = sr.id
            AND su.id = #{id}
        </where>
    </select>
    <select id="getIdByUserName" resultType="java.lang.String">
        select id
        from sys_user
        <where>
            user_name = #{userName}
        </where>
    </select>
    <select id="getUserVoById" resultType="com.dandelion.system.vo.UserVo">
        select id,user_name,avatar,status,del_flag,muted
        from sys_user
        <where>
            id = #{id}
        </where>
    </select>
    <select id="getRoleId" resultType="java.lang.Long">
        select
            sr.id
        from
        sys_user su,
        sys_user_role sur,
        sys_role sr
        <where>
            su.id = sur.user_id
            AND sur.role_id = sr.id
            AND su.id = #{id}
        </where>
    </select>
    <select id="getRole" resultType="com.dandelion.system.vo.RoleVo">
        select
            sr.id,role_name
        from
        sys_user su,
        sys_user_role sur,
        sys_role sr
        <where>
            su.id = sur.user_id
            AND sur.role_id = sr.id
            AND su.id = #{id}
        </where>
    </select>
    <select id="getUsersByQueryString" resultType="com.dandelion.system.vo.UserVo">
        select id,user_name,avatar,status,del_flag,muted
        from sys_user
        where del_flag &lt;&gt; 2 and sys_user.user_name like CONCAT('%',#{queryString},'%')
        <where>

        </where>
    </select>
    <select id="getPostUserById" resultType="com.dandelion.system.vo.PostUserVo">
        select id,user_name,avatar,status,create_time,login_date,muted
        from sys_user
        where id=#{userId}
    </select>
    <select id="selectUserPost" resultType="com.dandelion.system.vo.PostsSimpleVo">
        select id,section_id,title,create_time
        from posts
        where user_id = #{userId} and del_flag = 0
        ORDER BY create_time desc
        limit 5
    </select>
    <select id="selectUserCollectionPost" resultType="java.lang.Long">
        select count(*)
        from collection
        <where>
            user_id=#{userId} and is_collection=1
        </where>
    </select>
    <select id="selectUserDynamic" resultType="com.dandelion.system.vo.UserDynamic">
        SELECT post_id,content,parent_id,target_user_id,create_time,0 is_post
        FROM `comment`
        WHERE user_id=#{userId}
        union all
        select id,title,null,null,create_time,1 is_post
        FROM posts
        WHERE user_id=#{userId}
        ORDER BY create_time DESC
    </select>
</mapper>